<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <title>三时</title>

    <style>
        .center{width: 79px;text-align: right;}
    </style>
</head>
<body>
<div class="col-xs-12">
    <form id="cityInfo" action="#" method="post" class="form-horizontal">
        <div style="padding-top: 13px;">
            <input name="state" th:value="${action}" type="hidden">
            <input name="ID" th:value="${ID}" type="hidden">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr>
                    <td class="center">省份:</td>
                    <td><input type="text" th:value="${cityInfo?.provinceName}" name="provinceName" placeholder="这里输入省份名" style="width: 100%;"/></td>
                </tr>
                <tr>
                    <td class="center">城市:</td>
                    <td><input type="text" th:value="${cityInfo?.cityName}" name="cityName" placeholder="这里输入城市名" style="width:100%;"/></td>
                </tr>
                <tr>
                    <td class="center">描述:</td>
                    <td><input type="text" th:value="${cityInfo?.description}" name="description" placeholder="这里输入描述" style="width:100%;"/></td>
                </tr>
                <tr>
                    <td style="text-align: center;" colspan="4">
                        <button type="button" class="btn btn-success btn-sm" onclick="save();">保存</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="top.Dialog.close();">取消</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
</body>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootbox.js}"></script>
<script type="text/javascript" th:inline="JavaScript">
    //ajax返回后刷新父级页面
    function save() {
        $.ajax({
            type: "POST",
            dataType: "json",
            async: false,
            url: '/index/addCity',
            data: $('#cityInfo').serialize(),
            success: function () {
                window.parent.location.reload();
            },
            error : function() {
                bootbox.alert("保存失败！");
            }
        });
        top.Dialog.close();
    }
</script>
</html>