<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/vendor/drag/style.css}" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <meta charset="UTF-8"/>
    <title>三时</title>

    <style>
        .center{text-align-last: center; }
        .contentDiv {padding:20px 60px;}
    </style>
</head>
<base href="<%=basePath%>">

<body>
    <div class="contentDiv">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th colspan="5" style="text-align-last: center;font-weight: 900;font-size: larger;">城市列表</th>
            </tr>
            <tr>
                <th style="text-align-last: center;width: 5%;">序号</th>
                <th style="text-align-last: center;width: 25%;">省份</th>
                <th style="text-align-last: center;width: 25%;">城市</th>
                <th style="text-align-last: center;width: 35%;">描述</th>
                <th style="text-align-last: center;width: 10%;">管理</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="city,cityStat : ${cityList}">
                <td class="center" th:text="${cityStat.index+1}"></td>
                <td class="center" th:text="${city.provinceName}"></td>
                <td class="center" th:text="${city.cityName}"></td>
                <td class="center" th:text="${city.description}"></td>
                <td class="center" >
                    <button type="button" class="btn btn-primary btn-sm" th:onclick="'javascript:updateCity('+${city.id}+');'">编辑</button>
                    <button type="button" class="btn btn-danger btn-sm" th:onclick="'javascript:delCity('+${city.id}+');'">删除</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div><input class="btn btn-primary btn-sm" type="button" value="新增城市" onclick="addCity();"></div>
    </div>

</body>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootbox.js}"></script>
<script th:src="@{/vendor/drag/dialog.js}"></script>
<script type="text/javascript">

    function addCity() {
        var diag = new top.Dialog();
        diag.Drag=true;
        diag.Title ="城市信息";
        diag.URL = '/index/toAddCity?state='+"add";
        diag.Width = 400;
        diag.Height =260;
        diag.CancelEvent = function(){ //关闭事件
            diag.close();
        };
        diag.show();
    }

    function updateCity(ID) {
        var diag = new top.Dialog();
        diag.Drag=true;
        diag.Title ="城市信息";
        diag.URL = '/index/toAddCity?ID='+ID+'&state='+"update";
        diag.Width = 400;
        diag.Height =260;
        diag.CancelEvent = function(){ //关闭事件
            diag.close();
        };
        diag.show();
    }

    function delCity(ID) {
        bootbox.confirm("确认删除吗?", function(result) {
            if(result) {
                window.location.href="/index/delCity/"+ID;
            }
        });
    }
</script>

</html>